body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

.arrange-left{
    float: left;
}

.width-25{
    width: 25%;
}

.width-50{
    width: 50%;
}

.common-btn {
    height: 43px;
    min-width: 25%;
    border: 1px solid #ddd;
    color: #d19c97;
    border-radius: 8px;
    text-align: center;
}

.common-btn span{
    font-size: 16px;
    font-weight: 700;
}

.selected-product button i{
    margin-right: 15px;
}

.next-row{
    clear: both;
}

.width-75{
    width: 75%;
}

.width-33{
    width: 33.3%;
}

.margin-right-5{
    margin-right: 5%;
}
.width-20{
    width: 20%;
}

@media only screen and (max-width:992px) {
    .width-25, .width-50 , .width-20 , .width-33 , .width-75{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .arrange-left{
        float: none;
    }
    .banner{
        float: none;
    }
}